@{
    ViewBag.Title = "BayarAtm";
}

<h2>Bayar Melalui Atm</h2>
<div>
    <h3>Petunjuk Pembayaran</h3>
    <p>
        Untuk Melakukan Pembayaran Silahkan Lakukan Langkah Langkah Berikut :
    </p>
    <ul>
        <li>Masukkan Nomor Kartu dan Pin Anda</li>
        <li>Pilih Menu Transfer</li>
        <li>Isi Data yang dibutuhkan yaitu : <strong>No.Rek Tujuan = 11111111  , jumlah = @ViewBag.jumlah,  Kode Transaksi = @ViewBag.kode</strong></li>
        <li>Lalu pilih <strong>Transfer</str></li>
    </ul>
    <h3><strong>Batas Waktu Pembayaran Adalah : @ViewBag.batas</strong></h3>
</div
